<div class="container max-w-full mx-auto md:py-24 px-6">
  <div class="text-center text-2xl">LOGIN</div>
  <div class="relative flex flex-wrap">
    <div class="w-full relative">
      <div class="md:mt-6">
        <form class="mt-8" (ngSubmit)="signin()">
          <div class="mx-auto max-w-lg ">
            <div class="py-1">
              <span class="px-1 text-sm text-gray-600">Username</span>
              <input placeholder="Enter username" type="text" name="username" [(ngModel)]="loginform.username"
                class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
            </div>
            <div class="py-1">
              <span class="px-1 text-sm text-gray-600">Password</span>
              <input placeholder="Enter password" type="password" name="password" [(ngModel)]="loginform.password"
                class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
            </div>

            <button class="mt-3 text-lg font-semibold
            bg-gray-800 w-full text-white rounded-lg
            px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
              Sign In
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
